<nav>
  <div class="nav-container">
    <ul class="nav-left">
      <li><a routerLink="/home">Home</a></li>
      <li *ngIf="isAuthenticated && role === 'USER'"><a routerLink="/accounts">Accounts</a></li>
      <li *ngIf="isAuthenticated && role === 'USER'"><a routerLink="/create-account">Create Account</a></li>
      <li *ngIf="isAuthenticated && role === 'USER'"><a routerLink="/check-balance">Check Balance</a></li>
      <li *ngIf="isAuthenticated && role === 'USER'"><a routerLink="/loans">Loans</a></li>
      <li *ngIf="isAuthenticated && role === 'USER'"><a routerLink="/transactions">Transactions</a></li>
      <li *ngIf="isAuthenticated && role === 'ADMIN'"><a routerLink="/admin">Admin Panel</a></li>
    </ul>

    <!-- Right side links -->
    <ul class="nav-right">
      <li *ngIf="!isAuthenticated"><a routerLink="/register">Register</a></li>
      <li *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuthenticated && role === 'USER'"><a routerLink="/profile">Profile</a></li>
      <li class="logout" *ngIf="isAuthenticated"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
